{% load humanize %}

{% load buildinginfo_extras %}

<div class="px-2 item-flex-0-0-auto" style="width: 15em;">
  <div class="bg-white-a sticky-top">
    <div class="flex-xy-center" style="height: 200px;">
      {% if building_object.photo %}
        <img src="{{ building_object.photo.url }}" style="max-height: 85%; max-width: 85%;" alt="빌딩 사진">
      {% else %}
        <p class="text-center">No Photo</p>
      {% endif %}
    </div>
    <div class="p-1">
      <div class="flex-xy-center">
        <h2 class="text-muted text-center font-weight-light text-truncate mr-1">{{ building_object.name }}</h2>
        <a class="decoration-none mr-1" type="button" href="{% url 'buildinginfo:building_update' pk=building_object.pk %}" title="편집"><i class="fas fa-edit"></i></a>
      </div>
      <div class="flex-x-center">
        <table class="text-center w-100">
          <tbody>
            <tr>
              <th>준공일 :</th>
              <td>{{ building_object.construction_date|date:"Y-m-d" }}</td>
            </tr>
            <tr>
              <th>건물주 :</th>
              <td>{{ building_object.owner }}</td>
            </tr>
            <tr>
              <th>관리사 :</th>
              <td>{{ building_object.fm }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <style>
.sticky-top {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
</style> -->