<div class="flex-x-between flex-y-center sticky-top bg-white px-2 py-1" id="sub-menu" style="z-index: 999;">

  <!-- 메뉴 링크 모음 -->
  <div class="building-info-menu">
    <div class="flex-x-between flex-y-center">
      <a
        class="mx-1 decoration-none {% if 'detail' in request.path %}active{% endif %}"
        href="{% url 'buildinginfo:building_detail' pk=building_object.pk %}"
      >빌딩정보</a>
      <a
        class="mx-1 decoration-none {% if 'calendar' in request.path %}active{% endif %}"
        href="{% url 'buildinginfo:building_calendar' pk=building_object.pk %}"
      >일정관리</a>
      <a
        class="mx-1 decoration-none {% if 'task' in request.path %}active{% endif %}"
        href="{% url 'tasks:tasks' pk=building_object.pk %}?status=ISS"
      >작업의뢰</a>
      <a
        class="mx-1 decoration-none {% if 'board' in request.path %}active{% endif %}"
        href="{% url 'board:building_board' pk=building_object.pk %}"
      >커뮤니티</a>
    </div>
  </div>


  <!-- 추가 메뉴 영역 -->
  <div class="">

    <!-- 빌딩정보 메뉴 -->
    {% url 'buildinginfo:building_detail' pk=building_object.pk as building_detail %}
    {% url 'buildinginfo:building_detail_table' pk=building_object.pk as building_detail_table %}

    {% if request.path == building_detail or request.path == building_detail_table %}
      <a class="mr-1 decoration-none" href="{% url 'buildinginfo:building_detail' pk=building_object.pk %}"><i class="fas fa-th-large"></i></a>
      <a
        class="mr-1 decoration-none"
        href="{% url 'buildinginfo:building_detail_table' pk=building_object.pk %}"
      >
        <i class="fas fa-th-list"></i>
      </a>
    {% endif %}

    

  </div>

</div>

<script>

  window.onscroll = function() {
    var el = document.getElementById("sub-menu")
    var pos = el.getBoundingClientRect()
    if (pos.top == 0) {
      el.classList.add("bg-black-a")
      el.classList.add("text-white")
      el.classList.remove("bg-white")
    } else if (el.classList.contains("bg-black-a") && pos.top != 0) {
      el.classList.remove("bg-black-a")
      el.classList.remove("text-white")
      el.classList.add("bg-white")
    }
  }

</script>