{% extends 'base.html' %}

{% block content %}

{% load scheduler_extras %}

{% load static %}

<div class="item-flex-1-1-auto flex">

	<!-- 왼쪽 기본정보 영역 -->
	{% include 'buildinginfo/basic_information.html' %}
	
	<!-- 오른쪽 상세정보 영역 -->
  <div class="item-flex-1-1-auto flex-column">
    <!-- 메뉴탭 영역 -->
		{% include 'buildinginfo/building_detail_menu.html' %}

		<!-- 일정관리 메뉴 -->
    <div class="bg-white mt-2 pt-2 px-2" style="text-align: right;">
      <button class="button" title="hide-spark"><i class="far fa-eye-slash"></i></button>
      <a class="button" href="{% url 'scheduler:event_new' %}{% if request.GET.id %}?id={{ building_object.pk }}&name={{ request.GET.name }}{% endif %}" title="New"><i class="far fa-calendar-plus"></i></a>
			<button class="button" id="refresh" title="refresh"><i class="fas fa-redo-alt"></i></button>
		</div>
    

		<!-- 캘린더 영역 -->
		<div class="p-2 bg-white" id="calendarContainer"></div>

	</div>
</div>

<script type="text/javascript" src="{% static 'calendar/calendar.js' %} "></script>
<link rel="stylesheet" href="{% static 'calendar/calendar.css' %} " />

<script type="text/javascript">
window.onload = function() {
	drawCalendar("calendarContainer");
	addEventPopup();
}
</script>

{% endblock %}