{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<div class="item-flex-1-0-auto flex">

  <!-- 기본정보 영역 -->
  <div class="px-2 item-flex-0-0-auto">
    {% include 'buildinginfo/basic_information.html' %}
  </div>

  <!-- 상세정보 영역 -->
  <div class="item-flex-1-0-auto flex-column">
    <!-- 메뉴탭 영역 -->
    {% include 'buildinginfo/building_detail_menu.html' %}
    
    <!-- 대시보드 영역 -->
    <div class="py-2">
        <div class="flex-x-end mb-1">
          {% url 'buildinginfo:notice_create' pk=building_object.pk as notice_create %}
          <button class="button" onclick="location.href='{{ notice_create }}'" title="새글">
            <i class="fas fa-edit mx-1"></i>
          </button>
          <button class="show button mr-3">
            <i class="fas fa-filter mx-1"></i>
            <div class="hide p-1 flex-column" style="top: 100%; right: 0; white-space: nowrap; border: 1px solid rgb(0, 0, 0); border-radius: 1px; background: rgb(87, 87, 87);">
              <a class="m-1 decoration-none" href="#">등록일순</a>
              <a class="m-1 decoration-none" href="#">조회순</a>
              <a class="m-1 decoration-none" href="#">댓글순</a>
            </div>
          </button>
        </div>
        <div class="bg-white">
          
          <!-- 본문 영역 -->
          {% if post_detail %}
          <div class="clearfix mt-2 px-1 py-2">
            {% include "board/post_detail.html" %}
          </div>

          <!-- 댓글 영역 -->
          <div class="clearfix bg-white mb-3 p-2">
            {% include "board/comment.html" %}
          </div>
          {% endif %}

          <!-- 글목록 영역 -->
          <div class="p-2">
            {% include "board/list.html" %}
          </div>

        </div>
    </div>
  </div>
</div>
{% endblock %}