{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="w-100">

  <div class="flex-xy-center">
    <p>
      <a
        class="decoration-none"
        href="{% url 'buildinginfo:building_new' %}"
        role="button"
        title="새로운 빌딩을 등록하세요."
        >
          <i class="fas fa-plus-circle fa-x"></i>
          <span>&nbsp;새 빌딩 등록하기</span>
      </a>
      <a
        class="decoration-none"
        href="{% url 'buildinginfo:weather_file_upload' %}"
        role="button"
        title="날씨 데이터 업로드"
        >
          <i class="fas fa-plus-circle fa-x"></i>
          <span>&nbsp;날씨 데이터 업로드</span>
      </a>
    </p>
  </div>
  
  <div class="flex-wrap">
    {% for object in object_list %}
      <div class="building-card flex-xy-center mx-3 mb-3">
        {% if object.photo %}
        <img src="{{ object.photo.url }}" class="" style="max-height: 90%; max-width: 90%;" alt="" />
        {% else %}
        <p class="text-center">No Photo</p>
        {% endif %}
        <div
          class=""
          style="position: absolute; width: 90%; top: 1em; right: 25px; background-color: rgba(240, 193, 193, 0.9); font-size: 13px;"
        ></div>
        <div class="building-name flex-xy-center w-100 h-100">
          <div>
            <a
              class="decoration-none w-100 h-100 text-white text-weight-bold"
              href="{% url 'buildinginfo:building_detail' pk=object.pk %}"
              >{{ object.name }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>

<link rel="stylesheet" href="{% static 'buildinginfo/css/buildinginfo_style.css' %}" />

{% endblock %}
