{% load board_extras %}

<!-- 댓글 쓰기 영역 -->
<form class="flex m-2" method="POST" action="{% url 'board:comment_create' %}?id={{ request.GET.id }}">{% csrf_token %}
  {% for field in comment_form %}
    {{ field }}
  {% endfor %}
  <input class="comment-button" type="submit" onclick="postComment()" value="댓글쓰기">
</form>

<!-- 댓글 리스트 영역 -->
<div class="border-bottom mt-3 pl-1">
  <span><i class="far fa-comment-dots"></i>
    {{ comments.count|add:subcomments.count }}개의 댓글이 있습니다.
  </span>
</div>
{% if comments %}
{% for comment in comments %}
  <div class="border-bottom">
    <div
      class="py-2 {% if comment.author == request.user %}my-comment{% elif comment.author == detail.author %}author{% else %}bg-light{% endif %}"
      id="{{ comment.pk }}"
      >
      <div class="px-2">
        <span class="mr-3">{{ comment.author }} 님</span>
        <span class="font-weight-lighter" style="font-size: 12px;">등록시간 : {{ comment.registration|date:'Y-m-d H:i' }}</span>
        {% if comment.text != '' %}
          <span class="pl-2">
            <span class="">
              <button class="button" onclick="createSubCommentForm()" comment-id="{{ comment.pk }}">&rdsh;대댓글</button>
            </span>
            {% if comment.author == request.user %}
              <span class="mr-2" style="display: inline-block;">
                <form method="POST" action="{% url 'board:comment_delete' pk=comment.pk %}">{% csrf_token %}
                  <button class="button" type="submit" onclick="deleteComment()"><i class="fas fa-trash-alt"></i>&nbsp;삭제</button>
                </form>
              </span>
            {% endif %}
          </span>
        {% endif %}
      </div>
      <div class="p-2" id="comment-id-{{ comment.pk }}">
        {% if comment.text == '' %}
          <p>(댓글이 삭제되었습니다.)</p>
        {% else %}
          {{ comment.text|linebreaks }}
        {% endif %}
      </div>
    </div>
    {% for subcomment in subcomments %}
      {% if subcomment.comment == comment %}
        <div class="flex p-2 {% if subcomment.author == request.user %}my-comment{% elif subcomment.author == detail.author %}author{% else %}bg-light{% endif %}">
          <div class="pl-3">
            &rdsh;
          </div>
          <div class="item-flex-1-1-auto pl-2">
            <div class="px-2">
              <span class="mr-3">{{ subcomment.author }} 님</span>
              <span class="font-weight-lighter" style="font-size: 12px;">등록시간 : {{ subcomment.registration|date:'Y-m-d H:i' }}</span>
              {% if subcomment.text != '' %}
                <span class="pl-2">
                  {% if subcomment.author == request.user %}
                    <span class="mr-2" style="display: inline-block;">
                      <form method="POST" action="{% url 'board:subcomment_delete' pk=subcomment.pk pk=subcomment.pk %}">{% csrf_token %}
                        <button class="button" type="submit"  onclick="deleteComment()"><i class="fas fa-trash-alt fa-md"></i>&nbsp;삭제</button>
                      </form>
                    </span>
                  {% endif %}
                </span>
              {% endif %}
            </div>
            <div class="p-2">
              {% if subcomment.text == None %}
                <p>(댓글이 삭제되었습니다.)</p>
              {% else %}
                {{ subcomment.text|linebreaks }}
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
{% endif %}

<style>
.my-comment {
  background-color: rgba(171, 231, 171, 0.3);
}

.author {
  background-color: rgba(255,153,255,0.3);
}

.as-text {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

button.as-text:active {
  color: black;
}

</style>

<script>

  var token = "{{ csrf_token }}";

</script>