<!-- 제목, 새글, 필터 영역 -->
<div class="flex">
  <h1 class="font-weight-lighter mr-1">
    {% if post_detail.notice == True %}
      &nbsp;[공지]
    {% endif %}
    &nbsp;{{ post_detail.title }}
  </h1>
  {% if request.user == post_detail.author %}
  <div class="flex-xy-center">
    <div>
      <form method="POST" action="{% url 'board:post_delete' pk=request.GET.id %}">
        {% csrf_token %}
        <input class="button" type="submit" onclick="postDelete()" value="삭제" />
      </form>
    </div>
    <div>
      <a
        class="button"
        href="{{ update_url }}?building={{ building_object.pk }}&page={{ request.GET.page }}&id={{ request.GET.id }}"
        >수정</a>
    </div>
  </div>
  {% endif %}
</div>

<!-- 작성자, 작성일, 조회수 영역 -->
<div class="flex-x-between">
  <div class="m-1 flex-y-center">
    <i class="fas fa-user"></i>&nbsp;
    {{ post_detail.author }}님
  </div>
  <div class="m-1">
    <div class="m-1">
      <i class="far fa-clock"></i>&nbsp;{{ post_detail.registration|date:"Y-m-d H:i" }}
    </div>
    <div class="m-1" style="text-align: right;">
      조회수: {{ post_detail.hits }}
    </div>
  </div>
</div>


<div class="p-2">
  <p>{{ post_detail.memo | linebreaks }}</p>

  {% if images %}
    {% for image in images %}
      <p>
        <img src="{{ image.image.url }}" class="mx-auto d-block p-3" style="max-height: 100%; max-width: 100%;" alt="" />
      </p>
    {% endfor %}
  {% endif %}
</div>
