<!-- 게시글 작성 영역 -->
<form method="post" action="{{ action }}" enctype="multipart/form-data">{% csrf_token %}
  <div class="flex-column">
  <!-- {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %} -->
    <div class="mb-1">
      <span>{{ form.building }}</span>
      <span>{{ form.title }}</span>
      {% if request.user.is_admin or request.user.is_superuser %}
        <span>{{ form.notice }}</span>
        <label for="id_notice">{{ form.notice.label }}</label>
        {% endif %}
    </div>
  
    <div class="mb-1">{{ form.memo }}</div>

    <!-- 업데이트시 저장된 이미지 표시 영역 -->
    {% if images %}
      <div class="border flex mb-1">
        {% for image in images %}
          <div class="mx-2 border p-1" style="height: 150px; position: relative;">
            <img src="{{ image.image.url }}" style="max-width: 100%; max-height: 100%;">
            <div style="position: absolute; top: 10px; right: 10px;">
              <a class="text-danger" href="{% url 'board:image_delete' pk=image.pk %}" onclick="return confirm('이미지가 완전히 삭제됩니다. 삭제할까요?')"><i class="fas fa-minus-circle"></i></a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <!-- 이미지 추가 영역 -->
    <div>
      {{ formset.management_form }}
      {% for form in formset %}
        <p>{{ form.image }}</p>
      {% endfor %}
    </div>
    <div>
      <input class="button {% if 'new' in request.path %}create-reload{% else %}update-reload{% endif %}" type="submit" value="저장">
    </div>
  </div>
</form>


<!-- 이미지 파일 선택시 파일이름 표시 -->
<script>

  $('.custom-file-input').on('change',function(){
    //get the file name
    var fileName = $(this).val().replace('C:\\fakepath\\', "");
    //replace the "Choose a file" label
    $(this).next('.custom-file-label').html(fileName);
  });

</script>

<!-- 글 작성/수정시 이전 페이지로 돌아감 -->
<script>

  // $('.create-reload').on('click', function(e) {
  //   e.preventDefault();
  //   // var boardUrl = '{{ request.get_full_path }}';
  //   var form = $(e.target).closest('form');
  //   var submitUrl = form.attr('action');
  //   $.ajax({
  //     type: 'POST',
  //     url: submitUrl,
  //     dataType: 'json',
  //     data: form.serialize(),
  //     success: function(){
  //       location.replace(document.referrer); // 이전페이지 불러오기
  //     },
  //     fail: function() {
  //       alert('오류가 발생했습니다.');
  //     }
  //   });
  // });

  // $('.update-reload').on('click', function(e) {
  //   e.preventDefault();
  //   var form = $(e.target).closest('form');
  //   var submitUrl = form.attr('action');
  //   $.ajax({
  //     type: 'POST',
  //     url: submitUrl,
  //     dataType: 'json',
  //     data: form.serialize(),
  //     success: function(){
  //       location.replace(document.referrer); // 이전페이지 불러오기
  //     },
  //     fail: function() {
  //       alert('오류가 발생했습니다.');
  //     }
  //   });
  // });

</script>