{% extends 'account/base.html' %}

{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-center w-100 h-100">
        <div class="col-md-5">
            <form method="post" action="{% url 'account:login' %}">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.errors.values %}
                            {{ error|striptags }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% for field in form %}
                    <div class="form-group row justify-content-md-center">
                        <label for="{{ field.auto_id }}" class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <input class="btn btn-dark btn-lg btn-block" type="submit" value="로그인">
            </form>
            <br>
            <p class="text-right">
                아이디가 없으신가요? <a href="{% url 'account:signup' %}">회원가입</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}