{% load static %}

<form method="post" id="event-form" action="{{ request.path }}">{% csrf_token %}
  {{ form.as_p }}
  {% if 'new' in request.path %}
    <button class="button" type="submit">저장</button>
  {% else %}
    <div class="pt-1">
      <div class="w-75 float-left pr-2">
        <button class="button" type="submit">수정</button>
      </div>
      <div class="w-25 float-left">
        <a class="button" href="{% url 'scheduler:event_delete' pk=object.id %}" onclick="return confirm('Delete event?')">삭제</a>
      </div>
    </div>
  {% endif %}
</form>


<script>
  $(function () {
    $('.datetimepicker').datetimepicker({
      dayViewHeaderFormat: 'YYYY-MM',
      format: "YYYY-MM-DD HH:mm",
			sideBySide: true,
			icons: {
        time: 'fa fa-clock-o',
        date: 'fa fa-calendar',
				up: "fa fa-chevron-circle-up",
        down: "fa fa-chevron-circle-down",
        next: 'fa fa-chevron-circle-right',
        previous: 'fa fa-chevron-circle-left',
        today: 'fa fa-crosshairs',
        clear: 'fa fa-trash-o',
        close: 'fa fa-times'
			},
		});
	});
</script>
  
<script>
  $(".close").click(function() {
    $(".popup-layer").hide()
    $(".popup-content").empty();
    $("body").removeClass("overflow-hidden"); //overflow-hidden 해제(스크롤 해제)
    $(".wrap").css({
      "position": "relative", //최상위 div 고정해제
      "top": "0" //top값 해제
    });
    $("body").scrollTop(scrollHeight); //현재 스크롤된값=보이는화면
  });
</script>
