<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      
      startDate = '2018-01-01';
      endDate = '2018-01-30';
      pointList = ['23-sam-Ismart-kWh', '23-sam-Ismart-kW_peak', '23-sam-Ismart-kVarh_lag']

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      
      function getjson(url) {
        var resp = '';
        var xmlHttp ;
        xmlHttp = new XMLHttpRequest();
        if(xmlHttp != null) {
          xmlHttp.open("GET", url, false);
          xmlHttp.send(null);
          resp = JSON.parse(xmlHttp.responseText);
        };
        return resp;
      };

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

      function getChartData(startDate, endDate, pointList) {
        var totalJson = {};
        var keys = [];
        for (var i=0; i<pointList.length; i++) {
          jsonUrl = 'http://localhost:8000/chart/google-chart-data/?start-day=' + startDate + '&end-day=' + endDate + '&datapoint=' + pointList[i];
          console.log(jsonUrl);
          json = getjson(jsonUrl);
          totalJson[pointList[i]] = json;
          keys = keys.concat(Object.keys(json['data']));
        };
        var uniqueKeys = Array.from(new Set(keys));

        var chartData = {};
        chartData['cols'] = [{'id': 'timestamp', 'label': 'timestamp', 'type': 'date'}];
        chartData['rows'] = [];
        for (var i=0; i<Object.keys(totalJson).length; i++) {
          buildingKey = Object.keys(totalJson)[i];
          chartData['cols'].push(totalJson[buildingKey]['prop']);
        };

        chartData['rows'] = [];
        for (var i=0; i<uniqueKeys.length; i++) {
          var dateKey = uniqueKeys[i];
          var newRow = {'c': [{'v': dateKey}]}
          for(var j=0; j<Object.keys(totalJson).length; j++) {
            buildingKey = Object.keys(totalJson)[j];
            if (typeof totalJson[buildingKey]['data'][dateKey] != 'undefined') {
              newRow['c'].push({'v': totalJson[buildingKey]['data'][dateKey]});
            } else {
              newRow['c'].push({'v': null});
            };
          };
          chartData['rows'].push(newRow);
        };

        return chartData;
      };

      function drawChart(chartData) {

        // Create the data table.
        var chartData = getChartData(startDate, endDate, pointList);
        var data = new google.visualization.DataTable(chartData);
        console.log(chartData);

        // Set chart options
        var options = {
          'title': 'How Much Pizza I Ate Last Night',
          'width': 1000,
          'height': 800,
          interpolateNulls: true,
          crosshair: {
            trigger: 'both',
            orientation: 'vertical',
          },
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
  </body>
</html>