{% extends 'base.html' %}

{% block content %}

<div class="py-2" style="display: table; width: 100%; min-height: calc(100vh - 56px - 25px);">
  <div class="align-top pr-2" style="display: table-cell; width: 250px; min-height: 60vh;">
    <div class="mx-auto align-top ow p-2 m-2 bg-white">
      <!-- 검색기능 구현 -->
      <div class="input-group mx-2 border-bottom" style="width: 210px; height: 40px;">
        <label for="input-search" class="sr-only">Search Tree</label>
        <input type="input" class="form-control form-control-sm" id="input-search" placeholder="검색어를 입력하세요..." autocomplete="off">
        <div class ="input-group-append">
          <button type="button" class="btn btn-secondary btn-sm mb-2" id="btn-clear-search">초기화</button>
        </div>
      </div>
    
      <!-- 트리창 구역 -->
      <div class="overflow-auto bg-white mx-2" id="dataPointTree" style="width: 210px; height: calc(100vh - 180px);" draggable="true" ondragstart="dragStart(event)" ondragend="dragEnd(event)"></div>
      <style type="text/css">
        #dataPointTree {
          overflow: scroll;
        }
        #dataPointTree li {
          padding: 3px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        #dataPointTree li span.badge {
          display: inline-block;
          vertical-align: middle;
        }
      </style>
    </div>
  </div>
  <div class="mx-auto align-top" style="display: table-cell;">
    <div class="row justify-content-between bg-white mx-2 mt-2 p-2">
      <div class="col-9">
        <div class="form-inline">
          <div class="btn-group">
            <button class="btn btn-outline-secondary btn-sm date-button" id="y-sub">-Y</button>
            <button class="btn btn-outline-secondary btn-sm date-button" id="m-sub">-M</button>
            <button class="btn btn-outline-secondary btn-sm date-button" id="d-sub">-D</button>
          </div>
          <div class="input-group input-group-sm ml-2">
            <div class="input-group-prepend">
              <span class="input-group-text">시작일</span>
            </div>
            <input class="form-control datepicker" id="start-day" name="start-day" required type="text" style="width: 120px;">
          </div>
          <div class="input-group input-group-sm ml-2">
            <div class="input-group-prepend">
              <span class="input-group-text">종료일</span>
            </div>
            <input class="form-control datepicker" id="end-day" name="end-day" required type="text" style="width: 120px;">
          </div>
          <div class="btn-group ml-2">
            <button class="btn btn-outline-secondary btn-sm date-button" id="y-add">+Y</button>
            <button class="btn btn-outline-secondary btn-sm date-button" id="m-add">+M</button>
            <button class="btn btn-outline-secondary btn-sm date-button" id="d-add">+D</button>
          </div>
          <div>
            <button type="button" class="btn btn-success btn-sm ml-2" id="chart-reload">업데이트</button>
          </div>
        </div>
      </div>
      <div class="col-3 text-right" style="font-size: 20px;">
        <button type="button" class="btn btn-outline-danger btn-sm" id="sync" data-toggle="button" aria-pressed="false" autocomplete="off" title="차트동기화">
          Sync
        </button>
        <span>&nbsp;&nbsp;</span>
        <a class="btn btn-outline-info btn-sm" href="#" id="addChart" role="button" title="차트추가"><i class="far fa-plus"></i></a>
        <a class="btn btn-outline-info btn-sm" href="#" id="removeChart" role="button" title="차트삭제"><i class="far fa-minus"></i></a>
      </div>
    </div>
    <!-- 차트 구현 -->
    <div class="mx-2 mt-2 bg-white" id="charts_container" style="min-height: calc(100vh - 180px); padding: 10px;">
      <div class="chart-tool text-right" style="height: 20px;">
        <a class="delete-chart ml-2" id="chart-0-delete" href="#" title="닫기" style="visibility: hidden;"><i class="fas fa-times"></i></a>
      </div>
      <div class="chart" id="chart-0" style="height: calc(100vh - 200px - 20px); display: flex; align-items: center; justify-content: center;">
        <a class="draw-chart" id="chart-0-draw" href="#" draggable="false"><i class="fas fa-chart-line fa-5x"></i></a>
      </div>
    </div>
  </div>
</div>

<style>
/* Customize the label (the container) */
.palette {
  display: inline;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.palette input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.checkmark:hover {
  opacity: 0.5;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.palette input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.palette .checkmark:after {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

/* 리스트 그룹 라운드 제거 */
.list-group .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-group .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
</style>

<!-- 트리뷰 구현 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>

{% include 'chart/tree.html' %}

<script>
  // treeview 구현
  var treeOption = {

    data: dataPointTree,

    levels: 3,

    // custom icons
    expandIcon: 'fas fa-chevron-right',
    collapseIcon: 'fas fa-chevron-down',
    emptyIcon: '',
    nodeIcon: '',
    selectedIcon: '',

    onhoverColor: '#F5F5F5',
    highlightSelected: true,
    showBorder: false,

    // shows icons
    showIcon: true,

    // shows tags
    showTags: true,

    // enables multi select
    multiSelect: true,

    onNodeChecked: undefined,
    onNodeCollapsed: undefined,
    onNodeDisabled: undefined,
    onNodeEnabled: undefined,
    onNodeExpanded: undefined,
    onNodeSelected: undefined,
    onNodeUnchecked: undefined,
    onNodeUnselected: undefined,
    onSearchComplete: undefined,
    onSearchCleared: undefined,
  };

  var searchTree = $('#dataPointTree').treeview(treeOption);

  // 초기화면에서 트리 접어두기
  searchTree.treeview('collapseAll', { silent: true });

  // select 시퀀스 구현, multiselect가 반드시 true여야 한다.
  var nodeSelect = function(e, node) {
    //부모 노드를 선택하면 자식 노드 전체 선택
    var childrenNodes = _getChildren(node);
    for (var i=0; i<childrenNodes.length; i++) {
      $('#dataPointTree').treeview('selectNode', [ childrenNodes[i].nodeId, { silent: true } ]);
    };
    // 자식 노드를 선택하면 부모 라인 노드 전체 선택
    if (node.depth > 1) {
      var targetNode = node;
      for (var i=0; i<(node.depth-1); i++) {
        var parentNode = $('#dataPointTree').treeview('getParent', targetNode);
        $('#dataPointTree').treeview('selectNode', [ parentNode.nodeId, { silent: true } ]);
        targetNode = parentNode;
      };
    };
  };

  $('#dataPointTree').on('nodeSelected', nodeSelect);

  // unselect 시퀀스 구현
  var nodeUnselect = function(e, node) {
    // 부모 노드를 해제하면 자식 노드 전체 해제
    if (node.type == 'branch') {
      var childrenNodes = _getChildren(node);
      for (var i=0; i<childrenNodes.length; i++) {
        $('#dataPointTree').treeview('unselectNode', [ childrenNodes[i].nodeId, { silent: true } ]);
      };
    };
    var selectedNodes = $('#dataPointTree').treeview('getSelected');
    var rootNodes = [];
    var branchList = [];
    var endPointList = [];
    for (var i=0; i<selectedNodes.length; i++) {
      if (selectedNodes[i].type == 'endpoint') {
        endPointList.push(selectedNodes[i]);
      } else if (selectedNodes[i].depth == 1 ) {
        rootNodes.push(selectedNodes[i]);
        branchList.push(selectedNodes[i]);
      } else {
        branchList.push(selectedNodes[i]);
      };
    };
    if (endPointList.length == 0) {
      for (var j=0; j<branchList.length; j++) {
        $('#dataPointTree').treeview('unselectNode', [ branchList[j].nodeId, { silent: true } ]);
      };
    } else {
      for (var k=0; k<branchList.length; k++) {
        var branchId = branchList[k].id;
        var count = 0;
        for (var j=0; j<endPointList.length; j++) {
          var endpointId = endPointList[j].id;
          if (endpointId.includes(branchId)) {
            count = count + 1;
          };
        };
        if (count == 0) {
          $('#dataPointTree').treeview('unselectNode', [ branchList[k].nodeId, { silent: true } ]);
        };
      };
    };
  };
  $('#dataPointTree').on('nodeUnselected', nodeUnselect);
  
  // 해당 노드의 자식 노드를 반환
  function _getChildren(node) {
    if (node.nodes === undefined) return [];
    var childrenNodes = node.nodes;
    node.nodes.forEach(function(n) {
      childrenNodes = childrenNodes.concat(_getChildren(n));
    });
    return childrenNodes;
  };

  // 검색어 입력시 시퀀스 추가
  var search = function(e) {
    //검색어를 지우면 검색을 초기화
    if($('#input-search').val() == "") {
      searchTree.treeview(treeOption);
      searchTree.treeview('collapseAll', { silent: true });
      $('#dataPointTree').on('nodeSelected', nodeSelect);
      $('#dataPointTree').on('nodeUnselected', nodeUnselect);
    }else{
      searchTree.treeview(treeOption);
      var pattern = $('#input-search').val();
      var options = {
        ignoreCase: true,
        exactMatch: false,
        revealResults: false,
      };
      var results = searchTree.treeview('search', [ pattern, options ]);
      var searched = '';
      if (results.length == 0) {
        searched += '<p class="text-center">검색 결과가 없습니다.</p>'
        $('#dataPointTree').html(searched);
      } else {
        searched += '[';
        $.each(results, function(index, result) {
          if (result.type == 'endpoint') {
            searched += '{"type": "endpoint", "text":' + '"' + result.name + '",' + '"id":' + '"' + result.id +'"},';
          };
        });
        result = searched.slice(0, -1)
        result += ']';
        resultData = JSON.parse(result);
        searchTree.treeview({
        data: resultData,
        levels: 1,
        multiSelect: true,
        // selectedIcon: 'fas fa-check fa-xs'
        });
      };
    };
  };
  
  $('#input-search').on('keyup', search);

  $('#btn-clear-search').on('click', function (e) {
    $('#input-search').val('');
    searchTree.treeview(treeOption);
    searchTree.treeview('collapseAll', { silent: true });
    $('#dataPointTree').on('nodeSelected', nodeSelect);
    $('#dataPointTree').on('nodeUnselected', nodeUnselect);
  });
  
</script>

<!-- 데이트피커 구현 -->
<script>
  // 날짜 선택 기능 구현
  let today = getFullDateStr(new Date());
  document.getElementById("start-day").value = today;
  document.getElementById("end-day").value = today;
  $("#d-sub").click(function() {
    var startDay = document.getElementById("start-day").value;
    var newDay   = new Date(startDay);
    newDay.setDate(newDay.getDate()-1);
    document.getElementById("start-day").value = getFullDateStr(newDay);
  });
  $("#m-sub").click(function() {
    var startDay = document.getElementById("start-day").value;
    var newDay   = new Date(startDay);
    newDay.setMonth(newDay.getMonth()-1);
    document.getElementById("start-day").value = getFullDateStr(newDay);
  });
  $("#y-sub").click(function() {
    var startDay = document.getElementById("start-day").value;
    var newDay   = new Date(startDay);
    newDay.setFullYear(newDay.getFullYear()-1);
    document.getElementById("start-day").value = getFullDateStr(newDay);
  });
  $("#d-add").click(function() {
    var endDay = document.getElementById("end-day").value;
    var newDay   = new Date(endDay);
    newDay.setDate(newDay.getDate()+1);
    if (newDay < new Date()) {
      document.getElementById("end-day").value = getFullDateStr(newDay);
    } else {
      alert('오늘까지만 선택할 수 있습니다');
    };
  });
  $("#m-add").click(function() {
    var endDay = document.getElementById("end-day").value;
    var newDay   = new Date(endDay);
    newDay.setMonth(newDay.getMonth()+1);
    if (newDay < new Date()) {
      document.getElementById("end-day").value = getFullDateStr(newDay);
    } else {
      document.getElementById("end-day").value = today;
      alert('오늘까지만 선택할 수 있습니다');
    };
  });
  $("#y-add").click(function() {
    var endDay = document.getElementById("end-day").value;
    var newDay   = new Date(endDay);
    newDay.setFullYear(newDay.getFullYear()+1);
    if (newDay < new Date()) {
      document.getElementById("end-day").value = getFullDateStr(newDay);
    } else {
      document.getElementById("end-day").value = today;
      alert('오늘까지만 선택할 수 있습니다');
    };
  });

  function getFullDateStr(date) {
    var year = date.getFullYear(); 
    var month = new String(date.getMonth()+1); 
    var day = new String(date.getDate()); 
    // 한자리수일 경우 0을 채워준다. 
    if(month.length == 1){ 
      month = "0" + month; 
    };
    if(day.length == 1){ 
      day = "0" + day; 
    };
    return (year + '-' + month + '-' + day);
  };

  $(function () {
    $('.datepicker').datetimepicker({
      dayViewHeaderFormat: 'YYYY-MM',
      format: "YYYY-MM-DD",
      sideBySide: true,
      icons: {
        time: 'fa fa-clock-o',
        date: 'fa fa-calendar',
        up: "fa fa-chevron-circle-up",
        down: "fa fa-chevron-circle-down",
        next: 'fa fa-chevron-circle-right',
        previous: 'fa fa-chevron-circle-left',
        today: 'fa fa-crosshairs',
        clear: 'fa fa-trash-o',
        close: 'fa fa-times'
      },
    });
  });
</script>





<!-- 하이차트 구현 -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- <script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script> -->
<script>

  var parentHeight = $('#charts_container').height() - 20;
  // 차트를 추가로 생성한다.
  $('#addChart').click(function() {
    addChart();
  });
    
  function addChart() {
    var emptyChart = document.getElementsByClassName('draw-chart');
    if (emptyChart.length > 0) {
      alert('이미 생성된 차트가 있습니다')
    } else {
      var chartNo = $(".chart").length;
      var chartId = Highcharts.charts.length;
      $('#charts_container').append('<div class="chart-tool text-right" style="height: 1em;"><a class="delete-chart pl-2" id="chart-' + chartId + '-delete" href="#" title="닫기" style="visibility: hidden;"><i class="fas fa-times"></i></a></div><div class="chart my-1" id="chart-' + chartId + '" style="display: flex; align-items: center; justify-content: center;" ondrop="drop(event)" ondragover="allowDrop(event)"><a class="draw-chart" id="chart-' + chartId + '-draw" href="#" draggable="false"><i class="fas fa-chart-line fa-5x"></i></a></div>');
      // chart resize
      $('.chart').height(parentHeight/(chartNo + 1) - 20);
      $('.legend').height(parentHeight/(chartNo + 1) - 20);
      $('.highcharts-container').parents('[class^="col"]').toggleClass('full-width-box');
      window.dispatchEvent(new Event('resize'));

      var targetId = 'chart-' + chartId;
      $('#chart-' + chartId + '-draw').click(function() {
        drawChart(targetId);
      });
      $('#chart-' + chartId + '-delete').click(deleteChart);
    };
  };

  // 마지막으로 추가된 차트부터 삭제한다.
  $('#removeChart').click(function() {
    // if ($(".chart").length > 1) {
      $("#charts_container").children("div:last").remove();
      $("#charts_container").children("div:last").remove();
      var chartNo = $('.chart').length;
      // var parentHeight = $('#charts_container').height();
      $('.chart').height(parentHeight/chartNo);
      $('.highcharts-container').parents('[class^="col"]').toggleClass('full-width-box');
      window.dispatchEvent(new Event('resize'));
    // };
  });

  $('#chart-0-delete').click(deleteChart);
    
  function deleteChart() {
    var con = confirm("이 차트를 삭제할까요?");
    if (con == true) {
      var deleteId = $(this).attr('id');
      var split = deleteId.split('-');
      var chartId = split[0] + '-' + split[1];
      $('#' + chartId).remove();
      $('#' + deleteId).parent().remove();
      // chart resize
      if (Highcharts.charts.length > 0) {
        var chartNo = $('.chart').length;
        // var parentHeight = $('#charts_container').height();
        $('.chart').height(parentHeight/chartNo);
        $('.highcharts-container').parents('[class^="col"]').toggleClass('full-width-box');
        window.dispatchEvent(new Event('resize'));
      };
    };
  };

  function getjson(url) {
    var resp = '';
    var xmlHttp ;
    xmlHttp = new XMLHttpRequest();
    if(xmlHttp != null) {
      xmlHttp.open( "GET", url, false );
      xmlHttp.send( null );
      resp = JSON.parse(xmlHttp.responseText);
    };
    return resp;
  };

  // Synchronize zooming through the setExtremes event handler.
  function syncExtremes(e) {
    var thisChart = this.chart;
    if (e.trigger !== 'syncExtremes') { // Prevent feedback loop
      Highcharts.each(Highcharts.charts, function (chart) {
        if (chart !== thisChart) {
          if (chart.xAxis[0].setExtremes) { // It is null while updating
            chart.xAxis[0].setExtremes(
              e.min,
              e.max,
              undefined,
              false,
              { trigger: 'syncExtremes' }
            );
          }
        }
      });
    }
  }

  // 차트0번 이벤트 등록
  $('#chart-0-draw').click(function() {
    drawChart('chart-0');
  });

  // 기본 대시 스타일, 빌딩별로 다른 스타일이 선택됨
  var dashStyles = [
    'Solid', 'Dot', 'ShortDash', 'ShortDot', 'ShortDashDot', 'ShortDashDotDot', 'Dash', 'LongDash', 'DashDot', 'LongDashDot', 'LongDashDotDot'
  ];

  // 배열에서 유니크한 값을 얻음
  function getUnique(value, index, self) { 
    return self.indexOf(value) === index;
  };

  // 기본 컬러, 차트를 그릴 떄 랜덤으로 선택됨
  var colorList = ['Aquamarine', 'Black', 'CadetBlue', 'CornflowerBlue', 'Crimson', 'Cyan', 'FireBrick', 'YellowGreen', 'Violet', 'Tomato', 'Teal', 'SteelBlue', 'SlateGray', 'SlateBlue', 'SeaGreen', 'Salmon', 'RoyalBlue', 'RosyBrown', 'OrangeRed', 'Orchid', 'Olive', 'LightSeaGreen', 'Khaki', 'IndianRed', 'ForestGreen', 'DodgerBlue', 'CornflowerBlue'];

  // 선의 컬러를 바꿀 수 있는 팔레트를 생성
  function makePalette(chartNo) {
    $('<a id="chart-' + chartNo + '-palette-on" href="#" title="팔레트"><i class="fas fa-palette"></i></a><div class="text-left border rounded p-1 bg-white" id="chart-' + chartNo + '-palette" style="display: none; position: absolute; z-index: 10;"><ul class="px-1 mb-1" id="chart-' + chartNo + '-palette-list" style="list-style: none;"></ul><button type="button" class="btn btn-primary btn-sm btn-block" id="chart-' + chartNo + '-color-set">재설정</button></div>').insertBefore('#' + 'chart-' + chartNo + '-delete');
    var chart = Highcharts.charts[chartNo];
    for (var i=0; i<chart.series.length; i++) {
      series = chart.series[i];
      var lineColor = series.color;
      var lineName = series.name.split('-');
      var colorPicker = '<span class="ml-1">'
      for (var j=0; j<colorList.length; j++) {
        colorPicker += '<label class="palette">';
        colorPicker += '<input type="radio" name="chart-' + chartNo + '-series-' + i + '-colorOptions" value="' + colorList[j] + '" ';
        if (lineColor == colorList[j]) {
          colorPicker += 'checked="checked"'
        };
        colorPicker += '"><span class="checkmark" style="background-color: ' + colorList[j] + ';"></span>'
        colorPicker += '</label>'
      };
      colorPicker += '</span>'
      $('#' + 'chart-' + chartNo + '-palette-list').append('<li class="text-truncate bg-white p-1 border-bottom">' + colorPicker + '<span class="align-top">' + lineName[1] + '-' + lineName[2] + '-' + lineName.slice(-1)[0] + '</span></li>');
    };
  };

  // 차트에 필요한 데이터 요청
  function getChartData() {
    var startDay = $('#start-day').val();
    var endDay = $('#end-day').val();
    var selected = $('#dataPointTree').treeview('getSelected');
    var chartData = [];
    var dash = 0;
    for (var i=0; i<selected.length; i++) {
      if (selected[i].type == 'endpoint') {
        // var color = "#"+((1<<24)*Math.random()|0).toString(16); // 랜덤컬러 생성
        var color = colorList[Math.floor(Math.random() * colorList.length)];;
        var url = '{% url "chart:chart_data" %}?start-day=' + startDay + '&end-day=' + endDay + '&datapoint=' + selected[i].id;
        var json = getjson(url);
        json["color"] = color;
        // 빌딩별로 대시 스타일을 다르게 설정
        // if (i>0 && selected[i-1].id.split('-')[0] !== selected[i].id.split('-')[0] && dash < dashStyles.length) {
        //   dash += 1;
        // } else if(i>0 && selected[i-1].id.split('-')[0] !== selected[i].id.split('-')[0] && dash == dashStyles.length-1) {
        //   dash = dash - dashStyles.length;
        // };
        // json["dashStyle"] = dashStyles[dash];
        chartData.push(json);
      };
    };
    return chartData;
  };

  // 팔레트에서 선택한 색상으로 차트를 업데이트
  function colorReset(targetId) {
    // var colorSet = [];
    var chart = Highcharts.charts[targetId.split('-')[1]];
    for (var i=0; i<chart.series.length; i++) {
      var colorOptions = targetId + '-series-' + i + '-colorOptions';
      var selectedColor = $('input[name=' + colorOptions + ']:checked').val();
      // colorSet.push(selectedColor);
      if (chart.series[i].options.color !== selectedColor) {
        chart.series[i].options.color = selectedColor;
        chart.series[i].update(chart.series[i].options);
      };
    };
    $('#' + targetId + '-palette').fadeOut();
  };

  // 원하는 지점에 차트를 생성한다
  function drawChart(targetId) {
    var startDay = $('#start-day').val();
    var endDay = $('#end-day').val();
    var selected = $('#dataPointTree').treeview('getSelected');
    // var targetId = $(this).parent().attr('id');
    if (startDay == '' || endDay == '') {
      alert("날짜를 입력하세요");
    } else if (startDay > endDay) {
      alert("날짜를 다시 선택하세요");
    } else if (selected.length == 0) {
      alert("검색할 데이터포인트를 선택하세요");
    } else {    
      // 차트 그리기  
      var chartData = getChartData();
      highchart(targetId, chartData);

      // 차트 싱크 맞추기
      var toggle = document.getElementById('sync').getAttribute('aria-pressed');
      if (toggle == 'true') {
        chartSync();
      };
      document.getElementById(targetId + '-delete').style.visibility = 'visible';

      // legend palette 생성
      makePalette(targetId.split('-')[1]);

      // palette 보이기
      $('#' + targetId + '-palette-on').click(function() {
        var position = $('#' + targetId + '-palette-on').position();
        var width = $('#' + targetId + '-palette').width();
        $('#' + targetId + '-palette').css({left: position.left - (width+25) + 'px', top: position.top + 'px'});
        $('#' + targetId + '-palette').fadeToggle();
      });

      // 차트 라인 컬러 리셋
      $('#' + targetId + '-color-set').click(function() {
        colorReset(targetId);
      });      
    };
  };

  //
  function updateAndRedraw() {
    var startDay = document.getElementById("start-day").value;
    var endDay = document.getElementById("end-day").value;
    if (Highcharts.charts.length == 0) {
      alert('로드된 차트가 없습니다');
    } else if (startDay > endDay) {
      alert('날짜를 다시 선택하세요');
    } else {
      // 차트가 없는 div는 에러 방지를 위해 삭제한다.
      $('.draw-chart').parent('div').remove();
      var chartNo = $('.chart').length;
      var parentHeight = $('#charts_container').height();
      $('.chart').height(parentHeight/(chartNo));
      $('.highcharts-container').parents('[class^="col"]').toggleClass('full-width-box');
      window.dispatchEvent(new Event('resize'));

      var startDay = $('#start-day').val();
      var endDay = $('#end-day').val();
      for (i = 0; i < Highcharts.charts.length; i++) {
        var chart = Highcharts.charts[i];
        for (j = 0; j < chart.series.length; j++) {
          var datapoint = chart.series[j].name;
          var url = '{% url "chart:chart_data" %}?start-day=' + startDay + '&end-day=' + endDay + '&datapoint=' + datapoint;
          var json = getjson(url);
          chart.series[j].setData(json.data, true);
        };
      };
      var toggle = document.getElementById('sync').getAttribute('aria-pressed');
      if (toggle == 'true') {
        chartSync();
      };
    };
  };
  
  $('#chart-reload').click(updateAndRedraw);

  function highchart(id, data) {

    Highcharts.chart(id, {
      chart: {
        zoomType: 'x',
        type: 'line'
      },
      boost: {
        // enabled: true,
        useGPUTranslations: true
      },
      exporting: {
        enabled: false
      },
      title: {
        text: null,
      },
      xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: {
            day: '%m/%d',
            year: '%Y'
        },
        events: {
          setExtremes: syncExtremes
        },
      },
      yAxis: {
        title: {
          text: null
        },
        tooltip: {
          shared: true,
          crosshairs: true,
        },
      },
      legend: {
        enabled: true,
        floating: false,
        layout: 'horizontal',
        align: 'center',
        // x: 50,
        verticalAlign: 'bottom',
        backgroundColor: 'white',
        // borderWidth: 0.5,
        // borderRadius: 1,
        // borderColor: 'black',
        labelFormatter: function () {
          var label = this.name.split('-');
          return label[1] + '-' + label[2] + '-' + label[3];
        },
      },
      plotOptions: {
        spline: {
          marker: {
              enabled: true
          },
        },
        series: {
          lineWidth: 1.5,
          marker: {
            enabled: false,
            radius: 3
          }
        },
      },
      tooltip: {
        xDateFormat: '%Y-%m-%d %H:%M',
        shared: true,
        useHTML: true,
        crosshairs: true,
        backgroundColor: '#FCFFC5',
        hideDelay: 0,
        borderColor: '#000000',
        formatter: function() {
          var points = this.points;
          var pointsLength = points.length;
          var datetime = Highcharts.dateFormat('%Y-%m-%d %H:%M', new Date(points[0].key));
          var tooltipMarkup = pointsLength ? '<span style="font-size: 11px">' + datetime + '</span><br/>' : '';
          tooltipMarkup += '<table>';
          var y_value;
          for(var i = 0; i < pointsLength; i++) {
            var seriesName = points[i].series.name.split('-');
            // y_value = points[i].y.toFixed(2).toLocaleString();
            y_value = points[i].y.toLocaleString();
            tooltipMarkup += '<tr><td><span style="color:' + points[i].series.color + '">\u25CF</span> ' + seriesName[1] + '-' + seriesName[2] + '-' + seriesName.slice(-1)[0] + '</td><td>:</td><td style="text-align: right"><b> ' + y_value  + '</b></td></tr>';
          }
          tooltipMarkup += '</table>'
          return tooltipMarkup;
        }
      },

      series: data,

      credits: false
    });

  };


  $('#sync').click(function(e) {
    $('#charts_container').unbind();
    $('.chart').unbind();
    var toggle = document.getElementById('sync').getAttribute('aria-pressed');
    if ($('.chart').length < 2) {
      e.stopImmediatePropagation();
      alert('차트를 2개 이상 생성해야 합니다.');
    } else if (toggle == "false") {
      chartSync();
    } else {
      for (i = 0; i < Highcharts.charts.length; i = i + 1) {
        chart = Highcharts.charts[i];
        chart.tooltip.destroy();
        chart.xAxis[0].hideCrosshair();
      };
      tooltipHide();
    };
  });

  function tooltipHide() {
    $('.chart').bind('mouseleave', function(e) {
      var chart,
        point,
        i,
        event;

      for (i = 0; i < Highcharts.charts.length; i = i + 1) {
        chart = Highcharts.charts[i];
        event = chart.pointer.normalize(e.originalEvent);
        point = chart.series[0].searchPoint(event, true);

        point.onMouseOut(); 
        chart.tooltip.hide(point);
        chart.xAxis[0].hideCrosshair(); 
      }
    });
  };
    

  function chartSync() {
    $('#charts_container').bind('mousemove touchmove touchstart', function(e) {
      var chart,
      points,
      i,
      event;

      for (i = 0; i < Highcharts.charts.length; i++) {
        chart = Highcharts.charts[i];
        if (chart) {
          event = chart.pointer.normalize(e);
          points = [];
          for(j = 0; j < chart.series.length; j++) {
            point = chart.series[j].searchPoint(event, true);
            points.push(point);
          };
          if (points.length) {
            for (k = 0; k < points.length; k++) {
              points[k].onMouseOver();
            };
          };
        };
      };
    });



    Highcharts.Pointer.prototype.reset = function() {
      return undefined;
    };

    Highcharts.Point.prototype.highlight = function(event) {
      event = this.series.chart.pointer.normalize(event);
      this.onMouseOver(); // Show the hover marker
      this.series.chart.tooltip.refresh(this); // Show the tooltip
      this.series.chart.xAxis[0].drawCrosshair(event, this); // Show the crosshair
    };

  };

</script>

<script>
  function allowDrop(ev) {
    ev.preventDefault();
    ev.dataTransfer.dropEffect = "copy"
  };
  
  function dragStart(ev) {
    var img = new Image();
    img.src = '/static/drag.png';
    ev.dataTransfer.setDragImage(img, 150, 300);
    // $('.chart').css({'z-index': '99', 'background-color': 'rgba(125,125,125,0.2)'});
    
    $('.chart').each(function() {
      var position = $(this).position();
      var height = $(this).height();
      var width = $(this).width();
      $(this).prepend('<div class="drop-zone" id="' + this.id + '-drop" style="position: absolute; width: ' + width + 'px; height: ' + height + 'px; background-color: rgba(125,125,125,0.2); z-index: 99;" ondrop="drop(event)" ondragover="allowDrop(event)"></div>')
      // $(this).prepend('<span class="drop-data" style="position: absolute;"><i class="fas fa-download fa-2x"></i></span>').css({left: position.left - width + 'px', top: position.top + 'px'});
    });
    // $('.chart').children('.draw-chart').css({'z-index': '0'});
    // $('.chart').children('.highcharts-container').css({'z-index': '0'});
    // $('.chart-tool').hide();
  };
  
  function dragEnd(ev) {
    ev.preventDefault();
    // $('.chart').css({'z-index': '0', 'background-color': 'white'});
    // $('.drop-data').remove();
    $('.drop-zone').remove();
    // $('.chart').children().css({'z-index': '0'});
    // $('.chart').children('.highcharts-container').css({'z-index': '0'});
    // $('.chart-tool').show();
  }

  function drop(ev) {
    ev.preventDefault();
    var dropZoneId = ev.target.id.split('-');
    var targetId = dropZoneId[0] + '-' + dropZoneId[1];
    if (Highcharts.charts[targetId.split('-')[1]]) {
      var chart = Highcharts.charts[targetId.split('-')[1]];
      var startDay = $('#start-day').val();
      var endDay = $('#end-day').val();
      var selected = $('#dataPointTree').treeview('getSelected');
      for (var i=0; i<selected.length; i++) {
        if (selected[i].type == 'endpoint') {
          var pointId = selected[i].id;
          var seriesNameList = [];
          for (var j=0; j<chart.series.length; j++) {
            var seriesName = chart.series[j].name;
            seriesNameList.push(seriesName);
          };
          if (seriesNameList.includes(pointId) == false) {
            var color = colorList[Math.floor(Math.random() * colorList.length)];;
            var url = '{% url "chart:chart_data" %}?start-day=' + startDay + '&end-day=' + endDay + '&datapoint=' + selected[i].id;
            var json = getjson(url);
            json["color"] = color;
            chart.addSeries(json);
          };
        };
      };
      // palette 재생성
      $('#' + targetId + '-palette-on').remove();
      $('#' + targetId + '-palette').remove();
      makePalette(targetId.split('-')[1]);
      $('#' + targetId + '-palette-on').click(function() {
        var position = $('#' + targetId + '-palette-on').position();
        var width = $('#' + targetId + '-palette').width();
        $('#' + targetId + '-palette').css({left: position.left - width + 'px', top: position.top + 'px'});
        $('#' + targetId + '-palette').fadeToggle();
      });

      // 차트 라인 컬러 리셋
      $('#' + targetId + '-color-set').click(function() {
        colorReset(targetId);
      });  

    } else {
      drawChart(targetId);
    };
    // $('.chart').css({'z-index': '0', 'background-color': 'white'});
    // $('.drop-data').remove();
    $('.drop-zone').remove();
    // $('.chart').children().css({'z-index': '0'});
    // $('.chart').children('.highcharts-container').css({'z-index': '0'});
    $('.chart-tool').show();
  };
</script>
 
 

{% endblock %}