<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand font-weight-light" href="/">Energy Benchmark V1</a>
  <div class="collapse navbar-collapse font-weight-bold" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item {% if navbar == 'buildinginfo' %}active{% endif %}">
        <a class="nav-link" href="{% url 'buildinginfo:building_list' %}">BuildingInfo&nbsp<i class="far fa-building"></i></a>
      </li>
      <li class="nav-item {% if navbar == 'analytics' %}active{% endif %}">
        <a class="nav-link" href="">Analytics&nbsp<i class="fas fa-file-signature"></i></a>
      </li>
      <li class="nav-item {% if navbar == 'chart' %}active{% endif %}">
        <a class="nav-link" href="{% url 'chart:chart' %}">Chart&nbsp<i class="fas fa-chart-line"></i></a>
      </li>
      <li class="nav-item {% if navbar == 'communication' %}active{% endif %}">
        <a class="nav-link" href="{% url 'board:notice_main' board_name='freeboard' %}">Communication&nbsp<i class="far fa-comments"></i></a>
      </li>
      <li class="nav-item {% if navbar == 'manual' %}active{% endif %}">
        <a class="nav-link" href="#">Manual&nbsp<i class="fas fa-book"></i></a>
      </li>
  </div>

  {% if user.is_authenticated %}
  <div class="float-right">
    <span class="text-light"><a href="{% url 'account:profile' nickname=request.user %}" style="color: white;" title="계정 정보">{{ request.user }}</a>&nbsp;님 환영합니다.&nbsp;&nbsp;<a href="{% url 'account:logout' %}" class="fas fa-sign-out-alt fa-lg text-light" data-toggle="tooltip" data-placement="left" title="로그아웃" style="text-decoration: none;"></a></span>
  </div>
  {% endif %}
</nav>