<nav class="" id="navbar">
  <div id="home">
    <a class="" id="home" href="/" style="font-size: 25px;">Energy Benchmark V1</a>
  </div>

  <div class="mx-1" id="main-menu">
    <a class="mx-1" href="{% url 'buildinginfo:building_list' %}">
      BuildingInfo&nbsp<i class="far fa-building"></i>
    </a>
    <a class="mx-1" href="">
      Analytics&nbsp<i class="fas fa-file-signature"></i>
    </a>
    <a class="mx-1" href="{% url 'chart:chart' %}">
      Chart&nbsp<i class="fas fa-chart-line"></i>
    </a>
    <a class="mx-1" href="{% url 'board:notice_main' board_name='freeboard' %}">
      Communication&nbsp<i class="far fa-comments"></i>
    </a>
    <a class="mx-1" href="#">
      Manual&nbsp<i class="fas fa-book"></i>
    </a>
  </div>

  {% if user.is_authenticated %}
    <div class="float-right">
      <div>
        <span>
          <a href="{% url 'account:profile' nickname=request.user %}" title="계정 정보">
            {{ request.user }}
          </a>
        </span>
        <span>
          님 환영합니다.
        </span>
        <span>
          <a href="{% url 'account:logout' %}" class="fas fa-sign-out-alt fa-lg text-light" title="로그아웃" style="text-decoration: none;"></a>
        </span>
      </div>
    </div>
  {% endif %}
</nav>

<style>
#navbar {
  padding: 10px;
  margin: 0;
  background: green
}

#navbar div {
  display: inline;
}


</style>